<div
    class="modal fade"
    id="Modal-Edit-{{ event.event_id }}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <form method="POST" class="form-signin" style="color: white">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="ModalLabel">Edit event</h2>
            <button
              type="button"
              class="close"
              style="color: white"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div>
            {{ edit_event_form.hidden_tag() }}
            <div class="modal-body row">
              <div class="d-flex flex-column col mx-3 mt-3">
                <h3>Date</h3>
                {{ edit_event_form.date }}
              </div>
              <div class="d-flex flex-column col mx-3 mt-3">
                <h3>Time</h3>
                <!-- <input type="time" class=""> -->
                {{ edit_event_form.time }}
              </div>
            </div>
            <div class="modal-body row">
              <div class="d-flex flex-column col mx-3">
                <h3>Description</h3>
                {{ edit_event_form.name }}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row justify-content-center m-2">
              <input id="to_edit" name="to_edit" type="hidden" value="{{ event.event_id }}">
              {{ edit_event_form.edit(class="btn btn-block btn-info") }}
            </div>

            <a
              type="button"
              class="btn btn-secondary"
              href="{{ url_for('home_page') }}"
            >
              Close
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>
